{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md", "*.yaml", "*.yml"],
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}

